*{
    box-sizing: border-box;
    
}

#page{
    margin: 0 auto;
    padding: 0;
    padding-bottom: 2vh;
}

#page h1{
    margin-top: -2vh;
}


#page .entete{
    text-align: center;
    margin-bottom: 5vh;
}
#page .paragraphe{
    margin-top: -3vh;
}
.container-contact{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    padding: 0 10%;
}

/* Debut section des informations qui se trouvent à gauches */
.container-contact .left-container{
    background-color: #008374;
    padding: 3vh;
}

.container-contact .left-container .left-container-element{
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 3vh;
    border: 1px solid #009282;
    background-color: #009282;
    color: white;
    border-radius: 2vh;
    padding: 2vh 3vh;
    width: 100%;
}

.child{
    margin-bottom: 3vh;
}

.icone-element button{
    border: 1px solid #33A89B;
    border-radius: 50%;
    padding: 2vh 2vh;
    font-size: 18px;
    /* margin-top: 2vh; */
    background-color: #33A89B;
}

.text-element .text-element-title{
    font-size: 18px;
    font-weight: bold;
}

.text-element-para{
    font-size: 16px;
    margin-top: -2vh;
}
/* Fin section gauche  */

/* Debut section droite  */
.right-container{
    /* border: 1px solid saddlebrown; */
    width: 100%;
    box-shadow: 6px 6px 28px  rgb(235, 232, 232);
}

.right-container form {
    display: grid;
    grid-template-rows: 15% 15% 55% 15%;
    gap: 3vh;
    box-sizing: border-box;
    padding: 4vh;
}

.right-container form .input-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vh;
}

.right-container form button{
    width: 25%;
    margin: 0 40%;
    background-color: #008374;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
}
::placeholder{
    /* color: white; */
    padding-left: 2vh;
}


/* Media queries  */
@media only screen and (max-width: 950px){
    .container-contact{
        display: flex;
        flex-direction: column;
    }
    .left-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vh;
    }
    .right-container form button{
        width: 100%;
        margin: 0;
    }

    


    /* .menu-item{
        display: g;
    } */
    /* .middle-centent-menu{
        display: block;
        height: 70vh;
        flex-direction: row;
        border: 1px solid;
        text-align: center;
    } */

    
    
}

@media only screen and (max-width: 600px){
    .left-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .right-container form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .right-container form .input-group{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .right-container form button{
        width: 100%;
        margin: 0;
        padding: 1vh;
    }
    
   
}




@media only screen and (max-width:800px) {
    .container-contact{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    /* .contenu{
        display: flex;
        width: 100%;
       flex-direction: column;
    } */
    
    /* .contenuB1{
        display: grid;
        flex-direction: column;
        height: 50px;  
    }
    
    .contenuB{
        display: flex;
        flex-direction: column;
       width:70% ;
        grid-template-rows: 100%;
    }  
    .filler,.fille1{
        display: flex;

    } */
}